<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-bordered os-table-search">
      <thead>
      <tr>
        <th>
          <div class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="text" data-ng-model="filterOptions.filterText" ui-keypress="{13:'search($event)'}" class="form-control" placeholder="Buscar..." pf-focused="true" autofocus>
            <span class="input-group-btn">
              <button class="btn btn-default" data-ng-click="search()" type="button"><i class="fa fa-search"></i></button>
            </span>
              </div>
            </div>
          </div>
        </th>
      </tr>
      </thead>
    </table>
    <div ui-grid="gridOptions" external-scopes="gridActions" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="os-grid"></div>
  </div>
</div>

<table>
  <tbody>
  <tr>
    <td class="legendColorBox">
      <div style="border:1px solid #ccc; padding:1px">
        <div style="width:4px;height:0;border:5px solid #fff; overflow:hidden"></div>
      </div>
    </td>
    <td class="legendLabel">Entrada</td>

    <td class="legendColorBox">
      <div style="border:1px solid #ccc; padding:1px">
        <div style="width:4px;height:0;border:5px solid #eedada; overflow:hidden"></div>
      </div>
    </td>
    <td class="legendLabel">Salida</td>
  </tr>
  </tbody>
</table>
