/*********** OPENSALES SASS **************/
@import "bootstrap/variables";

@import "opensales/variables";
@import "opensales/header";
@import "opensales/sidebar";
@import "opensales/grid";
@import "opensales/list";
@import "opensales/forms";

body {
  @media (max-width: $screen-xs-max) {
    padding-top: 38px;
  } //479px & lower

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
    padding-top: 72px;
  } //480px - 767px
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min){
    padding-top: 72px;
  } //768px - 991px
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    padding-top: 72px;
  } //992px & 1199px

  @media (min-width: $screen-lg-min) {
    padding-top: 72px;
  } //1200px & greater
}

/*Forms*/
.form-group.required {
  color: #f00;
}

.form-group.has-error {
  color: #f05050 !important;
  .form-control {
    border-color: #f05050 !important;
  }
}

.form-group.optional {
  color: #929292;
}

/*Dropdown-menu*/
.btn-group {
  > ul {
    > .dropdown-menu, .dropdown {
      > .dropdown-menu, .input-group-btn {
        > .dropdown-menu {
          margin-top: 1px;
        }
      }
    }
  }
}

/*Vertical sidebar*/
.nav-pf-vertical {
  @media (max-width: $screen-xs-max) {
    width: 16.6666666667% !important;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-min) {
    width: 16.6666666667% !important;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-min){
    width: 16.6666666667% !important;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-min) {
    width: 16.6666666667% !important;
  }
  @media (min-width: $screen-lg-min) {
    width: 16.6666666667% !important;
  }

  padding-left: 20px;
  padding-right: 20px;
  z-index: 0;

  .list-group {
    border-top: 0px;
    margin-bottom: 0px;

    > .list-group-item {
      padding: 0px;
      margin-bottom: 0px;
      background-color: #292e34;
      border: 0px;

      > a {
        > .list-group-item-value {
          color: #d5d4d4;
        }
      }
    }

    > .list-group-item.active {
      > a {
        padding: 0px 20px 0 25px !important;
        > .list-group-item-value {
          color: #fff;
        }
      }
    }
  }
}

.container-pf-nav-pf-vertical {
  @media (max-width: $screen-xs-max) {
    width: 83.3333333333% !important;
    margin-left: 16.6666666667% !important;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-min) {
    width: 83.3333333333% !important;
    margin-left: 16.6666666667% !important;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-min){
    width: 83.3333333333% !important;
    margin-left: 16.6666666667% !important;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-min) {
    width: 83.3333333333% !important;
    margin-left: 16.6666666667% !important;
  }
  @media (min-width: $screen-lg-min) {
    width: 83.3333333333% !important;
    margin-left: 16.6666666667% !important;
  }
}

.nav-pf-vertical.collapsed {
  padding-left: 10px;
  padding-right: 10px;
  .list-group {
    > .list-group-item {
      > a {
        > .list-group-item-value {
          display: none;
          width: 0;
        }
      }
    }
  }

  .nav-category {
    h2 {
      font-size: 8px;
      text-align: center;
    }
  }

  button.pull-right {
    float: none !important;
  }

  .nav-pills {
    > li {
      > a {
        margin-left: 3px;
        padding-left: 25px !important;
      }
    }
  }
}

/**OS Width*/
.os-10 {
  width: 10%;
}

.os-15 {
  width: 15%;
}

.os-20 {
  width: 20%;
}

.os-25 {
  width: 25%;
}

.os-30 {
  width: 30%;
}

.os-35 {
  width: 35%;
}

.os-40 {
  width: 40%;
}

.os-45 {
  width: 45%;
}

.os-50 {
  width: 50%;
}

.os-60 {
  width: 60%;
}

.os-70 {
  width: 70%;
}

.os-80 {
  width: 80%;
}

.os-90 {
  width: 90%;
}

.os-100 {
  width: 100%;
}
