$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$font-path: "../bower_components/patternfly-sass/assets/fonts/patternfly/";
$fa-font-path: "../bower_components/font-awesome-sass/assets/fonts/font-awesome/";
//$navbar-pf-bg-color: #393F45 !default;

// bower:scss
@import "patternfly-sass/assets/stylesheets/_patternfly.scss";
// endbower

@import "ui-grid.scss";
@import "keycloak.scss";

body {
  padding-top: 70px;
}

/*********** OPENSALES **************/
/*Error*/
.required {
  color: #f00;
}

.has-error {
  color: #f05050 !important;
}

.has-error .form-control {
  border-color: #f05050 !important;
}

/*Search*/
.os-table-search {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.os-table-search > thead > tr > th {
  border: 0px;
  padding: 5px 5px 5px !important;
}

/**Opens sales*/
.os-10 {
  width: 10%;
}
.os-15 {
  width: 15%;
}
.os-20 {
  width: 20%;
}
.os-25 {
  width: 25%;
}
.os-30 {
  width: 30%;
}
.os-35 {
  width: 35%;
}
.os-40 {
  width: 40%;
}
.os-45 {
  width: 45%;
}
.os-50 {
  width: 50%;
}
.os-100 {
  width: 100%;
}
