<div class="modal-header">
  <h3 class="modal-title">Cantidad de productos</h3>
</div>
<div class="modal-body">

  <form name="form" data-ng-submit="ok()" class="form-horizontal" novalidate>
    <div class="form-group" data-ng-class="{ 'has-error' : form.precio.$invalid && form.$submitted }">
      <label class="col-sm-4 control-label"><span class="required">*</span> Precio:
        <i class="fa fa-info-circle text-muted" tooltip-placement="right" uib-tooltip="Precio al que vendera el producto sin incluir impuestos"></i>
      </label>
      <div class="col-sm-3">
        <input name="precio" type="text" data-ng-model="view.producto.precio" ui-number-mask="2" min="0" max="9999999" class="form-control" pf-focused="true" autofocus required/>
        <div data-ng-messages="form.precio.$error" data-ng-if="form.$submitted || form.$dirty">
          <div class="has-error" data-ng-message="required">Ingrese precio.</div>
          <div class="has-error" data-ng-message="min">Minimo 1.</div>
          <div class="has-error" data-ng-message="max">Maximo 9,999,999.</div>
        </div>
      </div>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : form.cantidad.$invalid && ( form.$submitted || form.$dirty ) }">
      <label class="col-sm-4 control-label"><span class="required">*</span> Cantidad:
        <i class="fa fa-info-circle text-muted" tooltip-placement="right" uib-tooltip="Cantidad que desea vender"></i>
      </label>
      <div class="col-sm-3">
        <div class="input-group bootstrap-touchspin">
          <span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" data-ng-click="substract()" type="button">-</button></span>
          <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>

          <input name="cantidad" class="bootstrap-touchspin form-control" type="text" data-ng-model="view.producto.cantidad" ui-number-mask="0" min="1" max="999999" style="display: block;" required>

          <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
          <span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" data-ng-click="add()" type="button">+</button></span>
        </div>
        <div data-ng-messages="form.cantidad.$error" data-ng-if="form.$submitted || form.$dirty">
          <div class="has-error" data-ng-message="required">Ingrese cantidad.</div>
          <div class="has-error" data-ng-message="min">Minimo 1.</div>
          <div class="has-error" data-ng-message="max">Maximo 999,999.</div>
        </div>
      </div>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : form.almacen.$invalid && form.$submitted }">
      <label class="col-sm-4 control-label"><span class="required">*</span> Almacen:
        <i class="fa fa-info-circle text-muted" tooltip-placement="right" uib-tooltip="Almacen del cual saldra el producto. Solo se muestran almacenes de punto de venta en el que se encuentra registrado"></i>
      </label>
      <div class="col-sm-8">
        <ui-select name="almacen" data-ng-model="combo.selected.almacen" required>
          <ui-select-match placeholder="Almacen">{{$select.selected.denominacion}}</ui-select-match>
          <ui-select-choices repeat="item in combo.almacen | filter: $select.search">
            <div data-ng-bind-html="item.denominacion | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div data-ng-messages="form.almacen.$error" data-ng-if="form.almacen.$dirty || form.$submitted">
          <div class="has-error" data-ng-message="required">Ingrese almacen.</div>
        </div>
      </div>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : form.marca.$invalid && form.$submitted }">
      <label class="col-sm-4 control-label"><span class="required">*</span> Marca:
        <i class="fa fa-info-circle text-muted" tooltip-placement="right" uib-tooltip="Marca del producto"></i>
      </label>
      <div class="col-sm-4">
        <ui-select name="marca" data-ng-model="combo.selected.marca" required>
          <ui-select-match placeholder="Marca">{{$select.selected.denominacion}}</ui-select-match>
          <ui-select-choices repeat="item in combo.marca | filter: $select.search | unique:'valor'">
            <div data-ng-bind-html="item.denominacion | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div data-ng-messages="form.marca.$error" data-ng-if="form.marca.$dirty || form.$submitted">
          <div class="has-error" data-ng-message="required">Ingrese marca.</div>
        </div>
      </div>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : form.unidadMedida.$invalid && form.$submitted }">
      <label class="col-sm-4 control-label"><span class="required">*</span> Unidad medida:
        <i class="fa fa-info-circle text-muted" tooltip-placement="right" uib-tooltip="Unidad de medida del producto"></i>
      </label>
      <div class="col-sm-4">
        <ui-select name="unidadMedida" data-ng-model="combo.selected.unidadMedida" required>
          <ui-select-match placeholder="Unidad medida">{{$select.selected.denominacion}}</ui-select-match>
          <ui-select-choices repeat="item in combo.unidadMedida | filter: $select.search | unique:'valor'">
            <div data-ng-bind-html="item.denominacion | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div data-ng-messages="form.marca.$error" data-ng-if="form.marca.$dirty || form.$submitted">
          <div class="has-error" data-ng-message="required">Ingrese unidad medida.</div>
        </div>
      </div>
    </div>
    <button type="submit" data-ng-show="false"></button>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" data-ng-click="cancel()">Cancelar</button>
  <button class="btn btn-primary" type="button" data-ng-click="ok()">Guardar</button>
</div>
