<h1>Venta manual</h1>

<form name="form" class="form-horizontal" data-ng-submit="addProducto()" novalidate>

  <div class="form-group" data-ng-class="{ 'has-error' : form.codigo.$invalid && form.$submitted }">
    <label class="col-sm-3 control-label">Codigo:</label>
    <div class="col-sm-3">
      <input name="codigo" type="text" data-ng-model="view.producto.codigo" ui-mask="99999" data-ng-maxlength="30" class="form-control" pf-focused="true" autofocus/>
      <div data-ng-messages="form.codigo.$error" data-ng-if="form.$submitted">
        <div class="has-error" data-ng-message="maxlength">Codigo muy extenso, maximo 30 caracteres.</div>
      </div>
    </div>
  </div>
  <div class="form-group" data-ng-class="{ 'has-error' : form.descripcion.$invalid && form.$submitted }">
    <label class="col-sm-3 control-label"><span class="required">*</span> Descripcion:</label>
    <div class="col-sm-9">
      <input name="descripcion" type="text" data-ng-model="view.producto.descripcion" data-ng-minlength="1" data-ng-maxlength="300" class="form-control" required/>
      <div data-ng-messages="form.descripcion.$error" data-ng-if="form.$submitted">
        <div class="has-error" data-ng-message="required">Ingrese descripcion.</div>
        <div class="has-error" data-ng-message="minlength">Ingrese descripcion.</div>
        <div class="has-error" data-ng-message="maxlength">Descripcion muy extensa, maximo 300 caracteres.</div>
      </div>
    </div>
  </div>
  <div class="form-group" data-ng-class="{ 'has-error' : form.precio.$invalid && form.$submitted }">
    <label class="col-sm-3 control-label"><span class="required">*</span> Precio unitario:</label>
    <div class="col-sm-3">
      <input name="precio" type="text" data-ng-model="view.producto.precio" ui-number-mask="2" min="0" max="9999999" class="form-control" required/>
      <div data-ng-messages="form.precio.$error" data-ng-if="form.$submitted">
        <div class="has-error" data-ng-message="required">Ingrese precio.</div>
        <div class="has-error" data-ng-message="min">minimo 0.</div>
        <div class="has-error" data-ng-message="max">maximo 9,999,999.</div>
      </div>
    </div>
  </div>
  <div class="form-group" data-ng-class="{ 'has-error' : form.cantidad.$invalid && form.$submitted }">
    <label class="col-sm-3 control-label"><span class="required">*</span> Cantidad:</label>
    <div class="col-sm-3">
      <input name="cantidad" type="text" data-ng-model="view.producto.cantidad" ui-number-mask="0" min="0" max="99999" class="form-control" required/>
      <div data-ng-messages="form.cantidad.$error" data-ng-if="form.$submitted">
        <div class="has-error" data-ng-message="required">Ingrese cantidad.</div>
        <div class="has-error" data-ng-message="min">minimo 0.</div>
        <div class="has-error" data-ng-message="max">maximo 99,999.</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">
        <i class="fa fa-reply-all"></i>&nbsp;A&ntilde;adir
      </button>
    </div>
  </div>
</form>
