<div class="tab-container">
  <ul class="nav nav-tabs">
    <li ui-sref-active="active">
      <a href ui-sref=".escaneo">
        Scan
      </a>
    </li>
    <li ui-sref-active="active">
      <a href ui-sref=".filtro">
        Search
      </a>
    </li>
    <li ui-sref-active="active">
      <a href ui-sref=".browse">
        Browse
      </a>
    </li>
    <li ui-sref-active="active">
      <a href ui-sref=".manual">
        Manual
      </a>
    </li>
  </ul>
  <div class="tab-pane">
    <div ui-view></div>
  </div>
</div>
