<br>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <fieldset class="border-top" data-ng-mouseover="editDatosPrincipales = true" data-ng-mouseleave="editDatosPrincipales = false">
          <legend>
            <span class="text">Datos principales</span>
            <a href="" data-ng-show="editDatosPrincipales" ui-sref="^.datosPrincipales" class="pull-right" type="button"><i class="pficon pficon-edit"></i></a>
          </legend>
          <dl class="dl-horizontal left">
            <dt>Denominacion:</dt>
            <dd data-ng-if="view.caja.denominacion" data-ng-bind="view.caja.denominacion"></dd>
            <dd data-ng-if="!view.caja.denominacion"><em>No registrado</em></dd>
            <dt>Abreviatura:</dt>
            <dd data-ng-if="view.caja.abreviatura" data-ng-bind="view.caja.abreviatura"></dd>
            <dd data-ng-if="!view.caja.abreviatura"><em>No registrado</em></dd>
            <dt>Estado:</dt>
            <dd data-ng-bind="view.caja.estado | si_no : 'ACTIVO' | uppercase"></dd>
          </dl>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <fieldset class="border-top">
          <legend><span class="text">Trabajadores asignados</span></legend>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
              <th class="w-20">Nro.Documento</th>
              <th class="w-20">Paterno</th>
              <th class="w-20">Materno</th>
              <th>Nombres</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-if="!view.load.trabajadores.length">
              <td class="text-muted" colspan="3">No existen trabajadores que mostrar.</td>
            </tr>
            <tr data-ng-repeat="item in view.load.trabajadores">
              <td class="clip"><span data-ng-bind="item.numeroDocumento"></span></td>
              <td class="clip"><span data-ng-bind="item.apellidoPaterno"></span></td>
              <td class="clip"><span data-ng-bind="item.apellidoMaterno"></span></td>
              <td class="clip"><span data-ng-bind="item.nombres"></span></td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <fieldset class="border-top">
          <legend><span class="text">Historial de aperturas</span></legend>

          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Fecha apertura</th>
              <th class="w-20">Paterno</th>
              <th colspan="2">Acciones</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <td colspan="7">
                <uib-pagination rotate="true" force-ellipses="false" boundary-links="false" max-size="3" items-per-page="5" total-items="gridOptions.historial.totalItems" data-ng-model="paginationOptions.historial.page" data-ng-change="loadHistoriales()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" style="margin: 5px; float: right;"></uib-pagination>
              </td>
            </tr>
            </tfoot>
            <tbody>
            <tr data-ng-if="!gridOptions.historial.data.length">
              <td class="text-muted" colspan="6">No existen historiales que mostrar.</td>
            </tr>
            <tr data-ng-repeat="item in gridOptions.historial.data">
              <td class="clip"><span data-ng-bind="item.fechaApertura"></span></td>
              <td class="clip"><span data-ng-bind="item.nombres"></span></td>
              <td class="kc-action-cell">
                <button class="btn btn-default btn-block btn-sm" data-ng-click="gridActions.historial.edit(item)">Editar</button>
              </td>
              <td class="kc-action-cell">
                <button class="btn btn-default btn-block btn-sm" data-ng-click="gridActions.historial.remove(item, $index)">Eliminar</button>
              </td>
            </tr>
            </tbody>
          </table>

        </fieldset>
      </div>
    </div>
  </div>
</div>
