<br>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <fieldset class="border-top" data-ng-mouseover="editDatosPrincipales = true" data-ng-mouseleave="editDatosPrincipales = false">
          <legend>
            <span class="text">Datos personales</span>
            <!--<a href="" data-ng-show="editDatosPrincipales" ui-sref="^.datosPrincipales" class="pull-right" type="button"><i class="pficon pficon-edit"></i></a>-->
          </legend>
          <dl class="dl-horizontal left">
            <dt>Nro.Documento:</dt>
            <dd data-ng-if="view.trabajador.numeroDocumento" data-ng-bind="view.trabajador.numeroDocumento"></dd>
            <dt>Paterno:</dt>
            <dd data-ng-if="view.trabajador.apellidoPaterno" data-ng-bind="view.trabajador.apellidoPaterno"></dd>
            <dd data-ng-if="!view.trabajador.apellidoPaterno"><em>No registrado</em></dd>
            <dt>Materno:</dt>
            <dd data-ng-if="view.trabajador.apellidoMaterno" data-ng-bind="view.trabajador.apellidoMaterno"></dd>
            <dd data-ng-if="!view.trabajador.apellidoMaterno"><em>No registrado</em></dd>
            <dt>Nombres:</dt>
            <dd data-ng-if="view.trabajador.nombres" data-ng-bind="view.trabajador.nombres"></dd>
            <dd data-ng-if="!view.trabajador.nombres"><em>No registrado</em></dd>
            <dt>Estado:</dt>
            <dd data-ng-bind="view.trabajador.estado | si_no : 'ACTIVO' | uppercase"></dd>
          </dl>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <fieldset class="border-top" data-ng-mouseover="editCajas = true" data-ng-mouseleave="editCajas = false">
          <legend>
            <span class="text">Cajas asignadas</span>
            <div class="pull-right">
              <a href="" data-ng-show="editCajas" ui-sref="^.cajas" type="button"><i class="pficon pficon-edit"></i></a>
              <a href="" data-ng-show="editCajas" ui-sref="^.cajas" type="button"><i class="pficon pficon-add-circle-o"></i></a>
            </div>
          </legend>

          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Denominacion</th>
              <th class="w-15">Abreviatura</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-if="!view.load.cajas.length">
              <td class="text-muted" colspan="6">No existen cajas que mostrar.</td>
            </tr>
            <tr data-ng-repeat="item in view.load.cajas">
              <td class="clip"><span data-ng-bind="item.denominacion"></span></td>
              <td class="clip"><span data-ng-bind="item.abreviatura"></span></td>
            </tr>
            </tbody>
          </table>

        </fieldset>
      </div>
    </div>
  </div>
</div>
