<div class="container-fluid">
  <div class="pull-right" style="margin-top: 20px;">
    <div class="btn-group" uib-dropdown>
      <button type="button" class="btn btn-default">Acciones</button>
      <button type="button" class="btn btn-default" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Acciones</span>
      </button>
      <ul class="dropdown-menu-right" uib-dropdown-menu aria-labelledby="split-button">
        <li role="menuitem"><a href="" data-ng-click="activar()">Activar</a></li>
        <li role="menuitem"><a href="" data-ng-click="desactivar()">Desactivar</a></li>
      </ul>
    </div>
    <button class="btn btn-danger" data-ng-click="remove()">Eliminar</button>
  </div>

  <h1>Editar caja <small data-ng-bind="view.caja.abreviatura"></small></h1>

  <div class="panel panel-default">
    <div class="panel-body">
      <div data-ng-mouseover="regresar = true" data-ng-mouseleave="regresar = false">

        <button type="button" data-ng-show="regresar" ui-sref="^.buscar" class="btn btn-link btn-lg pull-right">
          <i class="fa fa-backward"></i>
        </button>

        <div class="tab-container">
          <ul class="nav nav-tabs">
            <li ui-sref-active="active">
              <a href ui-sref=".resumen">
                Resumen
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref=".datosPrincipales">
                Datos principales
              </a>
            </li>
            <!--<li ui-sref-active="active">
              <a href ui-sref=".abrir">
                Abrir
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref=".cerrar">
                Cerrar
              </a>
            </li>-->
          </ul>
          <div class="tab-pane">
            <div ui-view></div>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>
