<form name="form" class="form-horizontal" novalidate>

  <div class="form-group" data-ng-class="{ 'has-error' : form.nombreObra.$invalid && form.$submitted }">
    <label class="col-sm-2 control-label"><span class="required">*</span> Denominacion:
      <i class="fa fa-info-circle text-muted" tooltip-placement="right" uib-tooltip="Nombre que identificara al punto de venta"></i>
    </label>
    <div class="col-sm-3">
      <input name="nombreObra" type="text" data-ng-model="view.puntoVenta.nombreObra" data-ng-minlength="1" data-ng-maxlength="200" class="form-control" pf-focused="true" autofocus required/>
      <div data-ng-messages="form.nombreObra.$error" data-ng-if="form.$submitted">
        <div class="has-error" data-ng-message="required">Ingrese nombre obra.</div>
        <div class="has-error" data-ng-message="minlength">Ingrese nombre obra.</div>
        <div class="has-error" data-ng-message="maxlength">Nombre obra muy extensa, maximo 200 caracteres.</div>
      </div>
    </div>
  </div>
  <div class="form-group" data-ng-class="{ 'has-error' : form.ubicacion.$invalid && form.$submitted }">
    <label class="col-sm-2 control-label">Ubicacion:
      <i class="fa fa-info-circle text-muted" tooltip-placement="right" uib-tooltip="Direccion del punto de venta"></i>
    </label>
    <div class="col-sm-3">
      <input name="ubicacion" type="text" data-ng-model="view.puntoVenta.ubicacion" data-ng-minlength="1" data-ng-maxlength="20" class="form-control"/>
      <div data-ng-messages="form.ubicacion.$error" data-ng-if="form.$submitted">
        <div class="has-error" data-ng-message="required">Ingrese ubicacion.</div>
        <div class="has-error" data-ng-message="minlength">Ingrese ubicacion.</div>
        <div class="has-error" data-ng-message="maxlength">Ubicacion muy extenso, maximo 20 caracteres.</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button sc-save ng-disabled="working">
        <span ng-show="working">Guardando...</span>
        <span ng-hide="working">Guardar</span>
      </button>
      <button sc-cancel ng-disabled="working" ui-sref="^.resumen">Cancelar</button>
    </div>
  </div>
</form>
