<h1>Crear caja</h1>

<form name="form" class="form-horizontal" novalidate>

  <div class="form-group" data-ng-class="{ 'has-error' : form.denominacion.$invalid && form.$submitted }">
    <label class="col-sm-2 control-label"><span class="required">*</span> Denominacion:</label>
    <div class="col-sm-3">
      <input name="denominacion" type="text" data-ng-model="view.caja.denominacion" data-ng-minlength="1" data-ng-maxlength="60" class="form-control" pf-focused="true" autofocus required/>
      <div data-ng-messages="form.denominacion.$error" data-ng-if="form.$submitted">
        <div class="has-error" data-ng-message="required">Ingrese denominacion.</div>
        <div class="has-error" data-ng-message="minlength">Ingrese denominacion.</div>
        <div class="has-error" data-ng-message="maxlength">Denominacion muy extensa, maximo 60 caracteres.</div>
      </div>
    </div>
  </div>
  <div class="form-group" data-ng-class="{ 'has-error' : form.abreviatura.$invalid && form.$submitted }">
    <label class="col-sm-2 control-label"><span class="required">*</span> Abreviatura:</label>
    <div class="col-sm-3">
      <input name="abreviatura" type="text" data-ng-model="view.caja.abreviatura" data-ng-minlength="1" data-ng-maxlength="20" class="form-control" required/>
      <div data-ng-messages="form.abreviatura.$error" data-ng-if="form.$submitted">
        <div class="has-error" data-ng-message="required">Ingrese abreviatura.</div>
        <div class="has-error" data-ng-message="minlength">Ingrese abreviatura.</div>
        <div class="has-error" data-ng-message="maxlength">Abreviatura muy extensa, maximo 20 caracteres.</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button sc-save ng-disabled="working">
        <span ng-show="working">Guardando...</span>
        <span ng-hide="working">Guardar</span>
      </button>
      <button sc-cancel ng-disabled="working" ui-sref="^.buscar">Cancelar</button>
    </div>
  </div>
</form>
