<div class="row">
  <div id="view">
    <div ui-view class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" style="min-height: 500px;">

    </div>
    <!-- /col -->

    <div sc-sidebar-resize class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left" style="min-height: 500px;">
      <div class="panel-group" data-ng-controller="AlmacenSidebarController">
        <div class="nav-category">
          <h2>Almacenes</h2>
          <ul class="nav nav-pills nav-stacked">
            <li ui-sref-active="active">
              <a ui-sref="almacen.app.almacen.almacen"><span class="fa fa-truck"></span> Almacenes</a>
            </li>
          </ul>
          <h2>Productos</h2>
          <ul class="nav nav-pills nav-stacked">
            <li ui-sref-active="active">
              <a ui-sref="almacen.app.producto.producto"><span class="fa fa-barcode"></span> Productos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /col -->
  </div>
</div>
